@model Global_Intern.Models.User;
@{
    ViewData["Title"] = "ViewUser";
}

<h1>ViewUser</h1>
<h4>First Name</h4>
@Model.UserFirstName
<h4>Last Name</h4>
@Model.UserLastName
<h4>Email</h4>
@Model.UserEmail
<h4>Home Country</h4>
@Model.UserHomeCountry
<h4>Current Country</h4>
@Model.UserCurrentCountry
<h4>Phone</h4>
@Model.UserPhone
<h4>Gender</h4>
@Model.UserGender